## ******************************************************************************
## This source code is licensed under the MIT license found in the
## LICENSE file in the root directory of this source tree.
##
## Copyright (c) 2022-2025 Intel Corporation
## Copyright (c) 2022-2025 Georgia Institute of Technology
## ******************************************************************************

## TACOS
build

## Dockerignore
# from: https://github.com/docker/docs/blob/main/.dockerignore
.DS_Store
.github
.gitignore
.git
.idea
.hugo_build.lock
_releaser
CONTRIBUTING.md
Dockerfile
compose.yml
docker-bake.hcl
public
node_modules
resources
tmp
